.new-post-form {
  width: 700px;
  margin: 0 auto;
  font-family: 'VT323', monospace;
  // border: 1px solid #efefef;
  margin-top: 60px;
  margin-bottom: 300px;
}

.new-post-form > h1 {
  font-size: 36px;
  padding: 20px 20px;
}

.create-post-submit {
  padding: 0 20px;
  padding-bottom: 20px;
}
