@import "glitch.scss";

.header {
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
}

.header-nav {
  font-family: 'Press Start 2P', cursive;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

}

.logo-nav {
  font-size: 24px;
  align-self: center;
  margin-left: 22px;
  margin-right: 106px;
  text-shadow: 2px 2px grey;
  text-transform: uppercase;
}

.logo-nav:hover {
  @include textGlitch("logo", 30, black, white, red, blue, 450, 115);
  text-shadow: 2px 2px #FF0078;
  cursor: pointer;
}

.nav-list > li:hover {
  @include textGlitch("nav", 30, black, white, red, blue, 450, 115);
  text-shadow: 1px 1px #FF0078;
  cursor: pointer;
}

ul.nav-list {
}

.nav-list-container {
  float: right;
  font-size: 20px;
  font-family: 'VT323', monospace;
}


.nav-list > li {
  float: left;
  padding: 10px 10px;
  align-self: center;
}

.search > input {
  width: 135px;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  padding: 6px 8px;
  font-size: 12px;
  background-color: #fafafa;
}

.search > input:focus {
  background-color: black;
  color: #FF0078;
  box-shadow: 2px 2px #FF0078;
  border: 0;
}

.search {
  align-self: center;
  margin: 0 auto;
}
