@import "glitch.scss";

.login-background {
  background: black;//#fafafa;
  height: 100%;
  min-width: 100%;
  position: fixed;
}

.login-form-container {
  font-family: sans-serif;
  width: 400px;;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;//#e3e4e5;
  padding: 40px 45px;
  text-align: center;
  position: relative;
  top: 200px;
  font-family: 'Press Start 2P', cursive;
  z-index: 9999;
  background: white;
  box-shadow: 10px 10px #FF0078;
}

.login-form-box {
  display: block;
}

.login-input {
  display: block;
  text-align: left;
  margin: 0 auto;
  border: 1px solid #e3e4e5;
  padding: 8px 10px;
  font-size: 12px;
  width: 348px;
}

.login-input:focus {
  background-color: black;
  border: 1px solid black;
  color: #FF0078;
}

::placeholder:focus {
  color: #FF0078;
}

.login-input-container {
  padding-bottom: 5px;
}


.logo {
  font-size: 30px;
  padding-bottom: 30px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px grey;
}

.logo {
  @include textGlitch("submit-login", 17, black, white, #FF0078, blue, 450, 115);
}

.submit-login {
  padding: 10px 10px;
  background-color: black;
  color: white;
  width: 350px;
  cursor: pointer;
  font-size: 12px;
  align-self: center;
  margin-bottom: 5px;

}

.submit-login:hover {
  color: #FF0078;
}

.switch-session-form {
  font-size: 12px;
  padding-top: 35px;
}

.session-form-link {
  color: #3897f0;
}

.error-list {
  list-style: none;
  padding-bottom: 10px;
  color: #ed4956;
  font-size: 10px;
}

.error-list > li {
  padding: 5px 5px;
}
