#feed {
  font-family: 'VT323', monospace;
  font-size: 20px;
  background: #fafafa;
  min-height: 1000px;
}

.explore-heading {
  padding-top: 60px;
  width: 300px;
  margin: 0 auto;
  font-size: 24px;
}

.posts {
  padding-top: 60px;
  padding-bottom: 100px;
}

.post {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  border: 1px solid #efefef;
  z-index: 5;
  background: white;
}

.post-user {
  padding: 15px 25px;
  border-bottom: 1px solid #efefef;
  font-weight: bold;
}

.image-info {
  padding: 0 25px;
  padding-top: 15px;
  border-top: 1px solid #efefef;
  color: #4b4d4f;
}

.comment-user {
  font-weight: bold;
  display: inline;
}

.comment-body {
  display: inline;
}

.comments {
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}

.image_container {
  overflow: auto;
}

img.post-image {
  width: 100%;
  display: inline-block;
}

.likes li {
  display: inline;
  font-weight: bold;
}

.likes inline {
  font-weight: lighter;
}

.likes {
  padding-bottom: 10px;
}

.comment-form {
  float: left;
  padding: 25px 0;
  padding-left: 15px;
  width: 70%;
}

.comment-input {
  width: 100%;
}

.like-button {
  background-image: image-url("hearts.png");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin: 20px 0;
  margin-left: 25px;
  cursor: pointer;
}

.unlike {
  background-position: 1px 0px;
}

.like {
  background-position: -28px 0px;
}

.cube-grid {
  height: 100px, !important;
  width: 100px, !important;
  margin: 0 auto;
}

.cube {
  background: #FF0078, !important;
}
